<ion-content [fullscreen]="true" class="ion-padding content">
  <div class="content__container">
    <form action="POST" [formGroup]="form" class="content__container__form">

      <ion-input label="Outline input" labelPlacement="floating" fill="outline" shape="round"
        [placeholder]="'new.ph-1' | translate" formControlName="name"></ion-input>



      <ion-select aria-label="Horario" interface="popover" [placeholder]="'new.schedule' | translate"
        formControlName="schedule">
        <ion-select-option value="des">{{'new.opc1' | translate}}</ion-select-option>
        <ion-select-option value="alm">{{'new.opc2' | translate}}</ion-select-option>
        <ion-select-option value="com">{{'new.opc3' | translate}}</ion-select-option>
        <ion-select-option value="mer">{{'new.opc4' | translate}}</ion-select-option>
        <ion-select-option value="cen">{{'new.opc5' | translate}}</ion-select-option>
      </ion-select>

      <div class="content__container__form__ingredients--input">
        <ion-input label="Outline input" label-placement="floating" fill="outline"
          [placeholder]="'new.ph-2' | translate" formControlName="ingredient"></ion-input>
        <ion-icon name="add-circle-outline" aria-label="Boton para añadir ingrediente a la lista de ingredientes"
          (click)=" addIngredient()">
        </ion-icon>
      </div>

      <div class="content__container__form__ingredients--list">
        <ion-title *ngIf="ingredientsList.length">{{ 'new.titleList' | translate}}</ion-title>
        <ion-chip *ngFor="let ingredient of ingredientsList">
          {{ingredient}}
          <ion-icon name="close" (click)="deleteIngredient(ingredient)"></ion-icon>
        </ion-chip>
      </div>

    </form>
    <ion-button expand="block" fill="outline" class="secondary-btn content__form__btn" [disabled]="!form.valid"
      (click)="onSubmit()">{{'common.saveBtn' |
      translate}}</ion-button>
  </div>


</ion-content>
