@use '../../scss/shared/titles' as *;


.content {
  &__title {
    color: var(--terciary-btn-color);
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__form {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 20px 0;

      &__ingredients {
        &--input {
          display: flex;
          flex-direction: row;
          align-items: center;

          ion-icon {
            font-size: 30px;
            color: var(--primary-btn-color);
          }
        }

        &--list {
          ion-chip {
            --background: var(--extra-color1);
          }

          ion-title {
            margin-bottom: 20px;
            @include title-size-09;
          }
        }


      }
    }
  }
}
