@use '../../scss/shared/titles' as *;

ion-toolbar {
  display: flex;
  height: 80px;
  --background: var(--primary-btn-color);
  --color: var(--white-color);

  ion-title {
    @include title-size-06-medium;
  }

  ion-img {
    width: 60px;
  }
}
