<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="main">
    <ion-button expand="block" fill="outline" class="primary-btn">Crear menú</ion-button>
    <ion-button expand="block" fill="outline" class="secondary-btn">Nuevo plato</ion-button>
    <ion-button expand="block" fill="outline" class="terciary-btn">Opcion</ion-button>
  </div>

</ion-content>
